<div class="inf_per">
  <h3>{{inf_per.nombre}}</h3>
  <br>
  <div class="mas-info">
    <div class="interior">
      <app-home></app-home>
    </div>
  </div>
  <div class="fontsize data">
    <div class="inf-center"><img src="../../assets/img/ubicacion.png" class="ico">&nbsp;{{inf_per.direccion}}</div>
    <div class="inf-center"><img src="../../assets/img/telf.png" class="ico">&nbsp;{{inf_per.tel_fijo}}&nbsp;&nbsp;
      <img src="../../assets/img/movil.png" class="ico">&nbsp;{{inf_per.tel_movil}}
    </div>

    <div class="inf-center"><img src="../../assets/img/correo.png" class="ico">&nbsp;{{inf_per.email}}</div>
  </div>
  <br>
  <div class="links">
    <button class="boton-link btn" routerLink="/experiencia"> Experiencia Profesional</button>
    <button class="boton-link btn" routerLink="/formacion"> Formación</button>
  </div>
  <br>
  <div class="inf- fontsize">
    <div class="inf-dist">
      <p class="inf">Sexo&nbsp;</p>
      <p>Hombre&nbsp;</p>
    </div>
    <div class="inf-dist">
      <p class="inf"><span>|</span> Fecha de nacimiento&nbsp;</p>
      <p> 30/01/1989&nbsp;</p>
    </div>
    <div class="inf-dist">
      <p class="inf"><span>|</span> Nacionalidad&nbsp;</p>
      <p>España</p>
    </div>
  </div>
</div>
