.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 50px;
}

.my-fixed-item {
  display: block;
  bottom: 0px;
  width: 100%;
}

.body-container {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  max-width: 1200px;
}
.home {
  visibility: hidden;
}

.diviz {
  background: #9cdcc6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  width: 20%;
  margin-left: 2%;
}
.divde {
  background: rgba(255, 255, 255, 0.8);
  width: 80%;
  height: 80%;
  margin-right: 2%;
  min-height: 70vh;
}
.componentes {
  padding: 2%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

p {
  padding: 2%;
}

.pht {
  width: 100%;
  height: auto;

  padding: 8%;
}

.img-pro {
  width: 100%;
  height: auto;
}
button {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.ico {
  padding-top: 8%;
  width: 32px;
  height: 32px;
}

.divbot {
  padding-top: 8%;
  padding-bottom: 8%;
}

@media screen and (max-width: 993px) {
  .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10pt;
    width: 95vw;
    /* min-width: 300px; */
  }
  .back{

      width: 100vw;

  }

  h3 {
    font-size: 12pt;
  }
  .diviz {
    display: none;
  }
  .divde {
    width: 95%;
    height: 95%;
    margin-right: 0%;
  }
  .my-fixed-item {
    display: block;
    bottom: 0px;
  }

}
