<div class="pht">
  <img class="img-pro" src="../assets/img/test.jpg">
  <p class="infoper">Web developer, Software developer, Administrador de sistemas, Diseñador gráfico, Cloud junior administrador</p>
</div>
<a class="btn btn-primary desc" style="font-weight:500;background-color: #c2e3e7;color: black; border: 0;"
    href="../assets/files/cv_file.pdf"
    download="CV-Alcala Rodriguez Rafael Antonio">Descargar Curriculum
</a>
<div class="divbot">
  <a href="https://www.linkedin.com/in/rafael-antonio-alcal%C3%A1-rodr%C3%ADguez-922168131/">
  <img class="ico" src="https://iconarchive.com/download/i82926/limav/flat-gradient-social/Linkedin.ico"></a>
</div>
